<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="
	http://www.springframework.org/schema/mvc   
	http://www.springframework.org/schema/mvc/spring-mvc.xsd   
	http://www.springframework.org/schema/beans   
	http://www.springframework.org/schema/beans/spring-beans.xsd   
	http://www.springframework.org/schema/context   
	http://www.springframework.org/schema/context/spring-context.xsd">

	<mvc:annotation-driven validator="validator">
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>text/plain; charset=UTF-8</value>
						<value>text/html; charset=UTF-8</value>
					</list>
				</property>
			</bean>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/json;
							charset=UTF-8
						</value>
						<value>application/x-www-form-urlencoded; charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>
	<mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/**" />
			<mvc:exclude-mapping path="/store/mobile/**" />
			<mvc:exclude-mapping path="/index.htm" />
			<mvc:exclude-mapping path="/authcode/**" />
			<mvc:exclude-mapping path="/register/**" />
			<mvc:exclude-mapping path="/login/**" />
			<bean
				class="com.fenlonsky.campaign.admin.web.spring.intercept.LoginInterceptor">
				<!-- <property name="mappingURL"> <list> <value></value> </list> </property> -->
			</bean>
		</mvc:interceptor>
	</mvc:interceptors>

	<!-- 以下 validator ConversionService 在使用 mvc:annotation-driven 会 自动注册 -->
	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">
		<property name="providerClass" value="org.hibernate.validator.HibernateValidator" />
		<!-- 如果不加默认到 使用classpath下的 ValidationMessages.properties -->
		<property name="validationMessageSource" ref="messageSource" />
	</bean>

	<!-- 国际化的消息资源文件（本系统中主要用于显示/错误消息定制） -->
	<bean id="messageSource"
		class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<!-- 在web环境中一定要定位到classpath 否则默认到当前web应用下找 -->
				<!-- <value>classpath:messages</value> -->
				<value>classpath:com/fenlonsky/validator/ValidationMessages</value>
			</list>
		</property>
		<property name="useCodeAsDefaultMessage" value="false" />
		<property name="defaultEncoding" value="UTF-8" />
		<property name="cacheSeconds" value="60" />
	</bean>


	<!-- 自动搜索@Controller标注的类 -->
	<context:component-scan base-package="com.fenlonsky.campaign.**.controller" />

	<bean
		class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" />
	<bean
		class="org.springframework.web.servlet.mvc.annotation.AnnotationMethodHandlerAdapter" />
	<bean
		class="org.springframework.web.servlet.view.ContentNegotiatingViewResolver">
		<property name="order" value="1" />
		<property name="mediaTypes">
			<map>
				<entry key="html" value="text/html;charset=UTF-8" />
				<entry key="htm" value="text/html;charset=UTF-8" />
				<entry key="json" value="application/json;charset=UTF-8" />
				<entry key="jsonp" value="application/javascript;charset=UTF-8" />
			</map>
		</property>
		<property name="defaultViews">
			<list>
				<bean
					class="org.springframework.web.servlet.view.json.MappingJackson2JsonView">
					<property name="prefixJson" value="false" />
				</bean>
			</list>
		</property>
		<property name="ignoreAcceptHeader" value="true" />
	</bean>

	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 配置js,css等静态文件直接映射到对应的文件夹，不被DispatcherServlet处理 -->
	<mvc:resources mapping="/js/**" location="/WEB-INF/resources/js/" />
	<mvc:resources mapping="/style/**" location="/WEB-INF/resources/style/" />
	<mvc:resources mapping="/images/**" location="/WEB-INF/resources/images/" />
	<mvc:resources mapping="/data/**" location="/WEB-INF/resources/data/" />
	<mvc:resources mapping="/common/**" location="/WEB-INF/resources/common/" />
	<mvc:resources mapping="/htmls/**" location="/WEB-INF/resources/htmls/" />

	<!-- <bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource" 
		p:basename="i18n/messages" /> -->

	<!-- Mapping exception to the handler view -->
	<!-- <bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver"> -->
	<!-- to /commons/error.jsp -->
	<!-- <property name="defaultErrorView" value="/WEB-INF/pages/commons/error" 
		/> <property name="exceptionMappings"> <props> <prop key="java.lang.Exception">/WEB-INF/pages/commons/error</prop> 
		<prop key="java.lang.RuntimeException">commons/error</prop> </props> </property> 
		</bean> -->
	<!-- 支持上传文件 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
</beans>
