<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="com.fenlonsky.campaign.**.bean" />
	</typeAliases>
	<typeHandlers>
		<typeHandler
			handler="com.fenlonsky.campaign.base.persist.mybatis.handler.DateTimeTypeHandler"
			javaType="org.joda.time.DateTime" jdbcType="TIMESTAMP" />
	<!-- <typeHandler handler="org.apache.ibatis.type.EnumOrdinalTypeHandler" 
		javaType="com.fenlonsky.campaign.base.common.enums.CampaignStatus" /> -->
	</typeHandlers>
	<plugins>
		<plugin
			interceptor="com.fenlonsky.campaign.base.dao.mybatis.interceptor.PageInterceptor"></plugin>
	</plugins>
</configuration>